body {
  font: 14px sans-serif;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart {
  border: black 1px solid;
  padding-bottom: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  z-index: 10;
}

circle:hover {
  cursor: pointer;
}

.subsection {
  text-align: left;
  width: 75%;
}

.footer {
  margin-top: 10px;
}

image {
  width: 3%;
  height: auto;
}